<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Visualizing reactivities</title>
</head>
<body>
<p> Choose from the following </p>
<ul>
    <li> Explore the dataset <a href="{{ url_for('dataset_explorer_app') }}">here</a>
    </li>
    <li> Visualize results from <a href="{{ url_for('react_rg4_app') }}">significant_rg4</a>
    </li>
</ul>
<div>
</div>
</body>
</html>
