
<!DOCTYPE html>
<html>

    <head>
          <meta charset="UTF-8">
            <title>404</title>
    </head>

    <body>
    <style type="text/css">
        #container{
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        #text_404 {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, +800%);
        }

    </style>

    <div id="container">
        <img src="{{ url_for('static',filename='404.png') }}" alt="Page Not Found (404)."> </img>
        <p id="text_404"> Sorry... page not found. </p>
    </div>

    </body>

</html>
